@model DH52007101.Models.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h1>@Model.Message</h1>
    <h1>@ViewBag.n</h1>
</body>
</html>
