@model TranVanQuocThang_DH52007101_D20_TH11.Models.NhaSanXuat

<table class="table table-borderless">
    <tr>
        <th><label asp-for="TenNsx" class="control-label"></label></th>
        <th><label asp-for="SoDt" class="control-label"></label></th>
        <th><label asp-for="Email" class="control-label"></label></th>
    </tr>
    <tr>
        <td>@Model.TenNsx</td>
        <td>@Model.SoDt</td>
        <td>@Model.Email</td>
    </tr>
</table>