@model DH52007101.Models.Khachhang

@{
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sửa thông tin khách hàng</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <form action="Sua" method="post">
            <div class="form-horizontal">
                <h2>Sửa thông tin khách hàng</h2>
                @{
                    Khachhang n = ViewBag.kh;
                }
                <div class="form-group">
                    @*name trùng với tên field được binding*@
                    <input name="makh" type="hidden" value="@n.Makh" maxlength="50" /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Tenkh" class="form-label"></label>
                    <input asp-for="Tenkh" class="form-control" />
                    <span asp-validation-for="Tenkh" class="text-danger"></span><br />
                </div>

                <div class="form-group">
                    <label asp-for="Namsinh" class="form-label"></label>
                    <input asp-for="Namsinh" class="form-control" />
                    <span asp-validation-for="Namsinh" class="text-danger"></span><br />
                </div>

                <div class="form-group">
                    <label asp-for="Phai" class="form-label"></label>
                    <input type="radio" asp-for="Phai" value="true" checked="@(Model.Phai == true ? "checked" : null)"> Nam
                    <input type="radio" asp-for="Phai" value="false" checked="@(Model.Phai == false ? "checked" : null)"> Nữ
                    <span asp-validation-for="Phai" class="text-danger"></span><br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Dienthoai" class="form-label"></label>
                    <input asp-for="Dienthoai" class="form-control" />
                    <span asp-validation-for="Dienthoai" class="text-danger"></span><br />
                </div>

                <div class="form-group">
                    <label asp-for="Diachi" class="form-label"></label>
                    <input asp-for="Diachi" class="form-control" />
                    <span asp-validation-for="Diachi" class="text-danger"></span><br />
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span><br />
                </div>

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Lưu</button><br /><br />
                </div>

                <div>
                    <a asp-action="Index">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
