@model TranVanQuocThang_DH52007101_D20_TH11.Models.Sach

@{
    Layout = null;
}

@{
    QLSACHContext db = new QLSACHContext();
    SelectList DSLS = new SelectList(db.LoaiSach.ToList(), "MaLoai", "MaLoai");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sửa thông tin sách</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <form asp-action="Sua" method="post">
            <div class="form-horizontal">
                <h2>Sửa thông tin sách</h2>
                @{
                    Sach s = ViewBag.sach;
                }
                <div class="form-group">
                    <input name="MaSach" type="hidden" value="@s.MaSach" maxlength="50" /><br />
                </div>

                <div class="form-group">
                    <label asp-for="TenSach" class="form-label"></label>
                    <input asp-for="TenSach" class="form-control" />
                    <span asp-validation-for="TenSach" class="text-danger"></span><br />
                </div>

                <div class="form-group">
                    <label asp-for="NgayXb" class="form-label"></label>
                    <input asp-for="NgayXb" class="form-control" type="date" />
                    <span asp-validation-for="NgayXb" class="text-danger"></span><br />
                </div>

                <div class="form-group">
                    <label asp-for="Gia" class="form-label"></label>
                    <input asp-for="Gia" class="form-control" />
                    <span asp-validation-for="Gia" class="text-danger"></span><br />
                </div>

                <div>
                    <table>
                        <tr>
                            <th style="width:200px">Mã loại sách</th>
                            <td rowspan="2" id="xemLs"></td>
                        </tr>
                        <tr>
                            <td><select asp-items="@DSLS" asp-for="MaLoai" onchange="xemLoaiSach_change()" class="form-control"></select></td>
                        </tr>
                    </table>
                </div>

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Lưu</button><br /><br />
                </div>

                <div>
                    <a asp-action="Index">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        function xemLoaiSach_change() {
            const mals = document.getElementById("MaLoai").value;

            // Create an XMLHttpRequest object
            const xhttp = new XMLHttpRequest();

            // Define a callback function
            xhttp.onload = function () {
                // Here you can use the Data
                // Nhận giá trị trả về
                document.getElementById("xemLs").innerHTML = xhttp.responseText;
                console.log(xhttp.responseText);
            }

            // Send a request
            const strUrl = "/Sach/xemLoaiSach/" + mals;
            xhttp.open("GET", strUrl);
            xhttp.send();
        }
    </script>
</body>
</html>
