@model TranVanQuocThang_DH52007101_D20_TH11.Models.LoaiSach

<table class="table table-borderless">
    <tr>
        <th><label asp-for="TenLoai" class="control-label"></label></th>
    </tr>
    <tr>
        <td>@Model.TenLoai</td>
    </tr>
</table>